code/AGVCenter/AgvClientWPF/Service References/AgvTrayService/AGVCenterLib.Model.ViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTrayDeliveryViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrayDeliveryViewModel" nillable="true" type="tns:TrayDeliveryViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrayDeliveryViewModel" nillable="true" type="tns:ArrayOfTrayDeliveryViewModel" />
  <xs:complexType name="TrayDeliveryViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StateStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedAt" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrayDeliveryViewModel" nillable="true" type="tns:TrayDeliveryViewModel" />
</xs:schema>