code/AGVCenter/AgvClientWPF/Service References/AgvTrayService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" />
  <xs:element name="GetTrayListByDeliveryNr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deliveryNr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrayListByDeliveryNrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" minOccurs="0" name="GetTrayListByDeliveryNrResult" nillable="true" type="q1:ArrayOfTrayDeliveryViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrayItemDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trayNr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrayItemDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" minOccurs="0" name="GetTrayItemDetailsResult" nillable="true" type="q2:ArrayOfDeliveryItemStorageViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>