code/AGVCenter/AgvClientWPF/Service References/AgvSystemService/AGVCenterLib.Model.ViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMoveTaskScheduleModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MoveTaskScheduleModel" nillable="true" type="tns:MoveTaskScheduleModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMoveTaskScheduleModel" nillable="true" type="tns:ArrayOfMoveTaskScheduleModel" />
  <xs:complexType name="MoveTaskScheduleModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateUserNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="No" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoveTaskScheduleModel" nillable="true" type="tns:MoveTaskScheduleModel" />
</xs:schema>