code/AGVCenter/AgvClientWPF/Service References/AgvSystemService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SystemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="systemservice_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISystemService_GetListGreaterThan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListGreaterThan" />
  </wsdl:message>
  <wsdl:message name="ISystemService_GetListGreaterThan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListGreaterThanResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService_CreateMoveTaskSchdule_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMoveTaskSchdule" />
  </wsdl:message>
  <wsdl:message name="ISystemService_CreateMoveTaskSchdule_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMoveTaskSchduleResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService_DeleteMoveTaskSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMoveTaskSchedule" />
  </wsdl:message>
  <wsdl:message name="ISystemService_DeleteMoveTaskSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMoveTaskScheduleResponse" />
  </wsdl:message>
  <wsdl:portType name="ISystemService">
    <wsdl:operation name="GetListGreaterThan">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/GetListGreaterThan" message="tns:ISystemService_GetListGreaterThan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/GetListGreaterThanResponse" message="tns:ISystemService_GetListGreaterThan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMoveTaskSchdule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/CreateMoveTaskSchdule" message="tns:ISystemService_CreateMoveTaskSchdule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/CreateMoveTaskSchduleResponse" message="tns:ISystemService_CreateMoveTaskSchdule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMoveTaskSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/DeleteMoveTaskSchedule" message="tns:ISystemService_DeleteMoveTaskSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/DeleteMoveTaskScheduleResponse" message="tns:ISystemService_DeleteMoveTaskSchedule_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="systemservice" type="tns:ISystemService">
    <wsp:PolicyReference URI="#systemservice_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListGreaterThan">
      <soap:operation soapAction="http://tempuri.org/ISystemService/GetListGreaterThan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMoveTaskSchdule">
      <soap:operation soapAction="http://tempuri.org/ISystemService/CreateMoveTaskSchdule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMoveTaskSchedule">
      <soap:operation soapAction="http://tempuri.org/ISystemService/DeleteMoveTaskSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemService">
    <wsdl:port name="systemservice" binding="tns:systemservice">
      <soap:address location="http://localhost:9001/AgvService/SystemService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>