code/AGVCenter/AgvClientWPF/Service References/AgvSystemService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" />
  <xs:element name="GetListGreaterThan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListGreaterThanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" minOccurs="0" name="GetListGreaterThanResult" nillable="true" type="q1:ArrayOfMoveTaskScheduleModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMoveTaskSchdule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" minOccurs="0" name="model" nillable="true" type="q2:MoveTaskScheduleModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMoveTaskSchduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" minOccurs="0" name="CreateMoveTaskSchduleResult" nillable="true" type="q3:ResultMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMoveTaskSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMoveTaskScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" minOccurs="0" name="DeleteMoveTaskScheduleResult" nillable="true" type="q4:ResultMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>