code/AGVCenter/AgvClientWPF/Service References/AgvDeliveryService/AGVCenterLib.Model.Message.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" type="tns:MessageType" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultMessage" nillable="true" type="tns:ResultMessage" />
  <xs:simpleType name="MessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="Warn" />
      <xs:enumeration value="Exception" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageType" nillable="true" type="tns:MessageType" />
</xs:schema>