code/AGVCenter/AgvClientWPF/Service References/AgvDeliveryService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DeliveryExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliveryExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeliveryExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanItemAddToDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqNr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanItemAddToDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" minOccurs="0" name="CanItemAddToDeliveryResult" nillable="true" type="q1:ResultMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delieryNr" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="uniqItemsNrs" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" minOccurs="0" name="CreateDeliveryResult" nillable="true" type="q3:ResultMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>