code/AGVCenter/AgvClientWPF/Service References/AgvDeliveryService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.SearchModel" />
  <xs:element name="DeliveryExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliveryExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeliveryExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeliverySend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeliverySendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" minOccurs="0" name="CanDeliverySendResult" nillable="true" type="q1:ResultMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanItemAddToDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqNr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanItemAddToDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" minOccurs="0" name="CanItemAddToDeliveryResult" nillable="true" type="q2:ResultMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanItemAddToTray">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqNr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deliveryNr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanItemAddToTrayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" minOccurs="0" name="CanItemAddToTrayResult" nillable="true" type="q3:ResultMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delieryNr" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="uniqItemsNrs" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" minOccurs="0" name="CreateDeliveryResult" nillable="true" type="q5:ResultMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryUniqItemsByNr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryUniqItemsByNrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" minOccurs="0" name="GetDeliveryUniqItemsByNrResult" nillable="true" type="q6:ArrayOfUniqueItemModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryStorageByNr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryStorageByNrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" minOccurs="0" name="GetDeliveryStorageByNrResult" nillable="true" type="q7:ArrayOfDeliveryStorageViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTray">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delieryNr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trayNr" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="uniqItemsNrs" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTrayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" minOccurs="0" name="CreateTrayResult" nillable="true" type="q9:ResultMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOutStockTaskByNr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOutStockTaskByNrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" minOccurs="0" name="CreateOutStockTaskByNrResult" nillable="true" type="q10:ResultMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" minOccurs="0" name="SendDeliveryResult" nillable="true" type="q11:ResultMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryOutStockTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryOutStockTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" minOccurs="0" name="GetDeliveryOutStockTasksResult" nillable="true" type="q12:ArrayOfStockTaskModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.SearchModel" minOccurs="0" name="searchModel" nillable="true" type="q13:DeliverySearchModel" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" minOccurs="0" name="SearchListResult" nillable="true" type="q14:ArrayOfDeliveryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryItemDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deliveryNr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryItemDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" minOccurs="0" name="GetDeliveryItemDetailsResult" nillable="true" type="q15:ArrayOfDeliveryItemStorageViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDeliveryForTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deliveryNr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDeliveryForTestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>