code/AGVCenter/AgvClientWPF/Service References/AgvDeliveryService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeliveryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="deliveryservice_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.SearchModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeliveryService_DeliveryExists_InputMessage">
    <wsdl:part name="parameters" element="tns:DeliveryExists" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_DeliveryExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeliveryExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_CanDeliverySend_InputMessage">
    <wsdl:part name="parameters" element="tns:CanDeliverySend" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_CanDeliverySend_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanDeliverySendResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_CanItemAddToDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:CanItemAddToDelivery" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_CanItemAddToDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanItemAddToDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_CanItemAddToTray_InputMessage">
    <wsdl:part name="parameters" element="tns:CanItemAddToTray" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_CanItemAddToTray_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanItemAddToTrayResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_CreateDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDelivery" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_CreateDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_GetDeliveryUniqItemsByNr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryUniqItemsByNr" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_GetDeliveryUniqItemsByNr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryUniqItemsByNrResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_GetDeliveryStorageByNr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryStorageByNr" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_GetDeliveryStorageByNr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryStorageByNrResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_CreateTray_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTray" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_CreateTray_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTrayResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_CreateOutStockTaskByNr_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOutStockTaskByNr" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_CreateOutStockTaskByNr_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOutStockTaskByNrResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_SendDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:SendDelivery" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_SendDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_GetDeliveryOutStockTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryOutStockTasks" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_GetDeliveryOutStockTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryOutStockTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_SearchList_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchList" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_SearchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_GetDeliveryItemDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryItemDetails" />
  </wsdl:message>
  <wsdl:message name="IDeliveryService_GetDeliveryItemDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryItemDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeliveryService">
    <wsdl:operation name="DeliveryExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/DeliveryExists" message="tns:IDeliveryService_DeliveryExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/DeliveryExistsResponse" message="tns:IDeliveryService_DeliveryExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanDeliverySend">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/CanDeliverySend" message="tns:IDeliveryService_CanDeliverySend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/CanDeliverySendResponse" message="tns:IDeliveryService_CanDeliverySend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanItemAddToDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/CanItemAddToDelivery" message="tns:IDeliveryService_CanItemAddToDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/CanItemAddToDeliveryResponse" message="tns:IDeliveryService_CanItemAddToDelivery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanItemAddToTray">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/CanItemAddToTray" message="tns:IDeliveryService_CanItemAddToTray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/CanItemAddToTrayResponse" message="tns:IDeliveryService_CanItemAddToTray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/CreateDelivery" message="tns:IDeliveryService_CreateDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/CreateDeliveryResponse" message="tns:IDeliveryService_CreateDelivery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryUniqItemsByNr">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/GetDeliveryUniqItemsByNr" message="tns:IDeliveryService_GetDeliveryUniqItemsByNr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/GetDeliveryUniqItemsByNrResponse" message="tns:IDeliveryService_GetDeliveryUniqItemsByNr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryStorageByNr">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/GetDeliveryStorageByNr" message="tns:IDeliveryService_GetDeliveryStorageByNr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/GetDeliveryStorageByNrResponse" message="tns:IDeliveryService_GetDeliveryStorageByNr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTray">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/CreateTray" message="tns:IDeliveryService_CreateTray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/CreateTrayResponse" message="tns:IDeliveryService_CreateTray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOutStockTaskByNr">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/CreateOutStockTaskByNr" message="tns:IDeliveryService_CreateOutStockTaskByNr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/CreateOutStockTaskByNrResponse" message="tns:IDeliveryService_CreateOutStockTaskByNr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/SendDelivery" message="tns:IDeliveryService_SendDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/SendDeliveryResponse" message="tns:IDeliveryService_SendDelivery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOutStockTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/GetDeliveryOutStockTasks" message="tns:IDeliveryService_GetDeliveryOutStockTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/GetDeliveryOutStockTasksResponse" message="tns:IDeliveryService_GetDeliveryOutStockTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/SearchList" message="tns:IDeliveryService_SearchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/SearchListResponse" message="tns:IDeliveryService_SearchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryItemDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryService/GetDeliveryItemDetails" message="tns:IDeliveryService_GetDeliveryItemDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryService/GetDeliveryItemDetailsResponse" message="tns:IDeliveryService_GetDeliveryItemDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="deliveryservice" type="tns:IDeliveryService">
    <wsp:PolicyReference URI="#deliveryservice_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeliveryExists">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/DeliveryExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanDeliverySend">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/CanDeliverySend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanItemAddToDelivery">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/CanItemAddToDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanItemAddToTray">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/CanItemAddToTray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDelivery">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/CreateDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryUniqItemsByNr">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/GetDeliveryUniqItemsByNr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryStorageByNr">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/GetDeliveryStorageByNr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTray">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/CreateTray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOutStockTaskByNr">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/CreateOutStockTaskByNr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDelivery">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/SendDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOutStockTasks">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/GetDeliveryOutStockTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchList">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/SearchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryItemDetails">
      <soap:operation soapAction="http://tempuri.org/IDeliveryService/GetDeliveryItemDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeliveryService">
    <wsdl:port name="deliveryservice" binding="tns:deliveryservice">
      <soap:address location="http://localhost:9001/AgvService/DeliveryService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>