code/AGVCenter/AgvClientWPF/Service References/AgvStorageService/AGVCenterLib.Model.ViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStorageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StorageModel" nillable="true" type="tns:StorageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorageModel" nillable="true" type="tns:ArrayOfStorageModel" />
  <xs:complexType name="StorageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FIFO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PartNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqItemNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedAt" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StorageModel" nillable="true" type="tns:StorageModel" />
</xs:schema>