code/AGVCenter/AgvClientWPF/Service References/AgvStorageService/AGVCenterLib.Model.SearchModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.SearchModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.SearchModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StorageSearchModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoxTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="KNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoadMachineIndex" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StorageSearchModel" nillable="true" type="tns:StorageSearchModel" />
</xs:schema>