code/AGVCenter/AgvClientWPF/Service References/AgvStorageService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.SearchModel" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfStorageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.SearchModel" minOccurs="0" name="searchModel" nillable="true" type="q2:StorageSearchModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AGVCenterLib.Model.ViewModel" minOccurs="0" name="SearchDetailResult" nillable="true" type="q3:ArrayOfStorageUniqueItemViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>